@use "../styles/theme";

:local(.toolbar) {
  height: 60px;
  display: flex;
  padding: 0px 100px;
  background-color: #ffffff;
  border-top: none;
  border-radius: 14px 14px 0 0;
  position: relative;
  width: 70vw;
  margin: auto;
  bottom: 90px;
}

:local(.content) {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  gap: 0 24px;

  @media (min-width: theme.$breakpoint-lg) {
    flex: 0;
  }
}

:local(.center_content) {
  position: absolute;
  display: flex;
  width: calc(100% - 200px);
  justify-content: center;
  z-index: -1;

  @media (max-width: theme.$breakpoint-lg) {
    width: 100%;
    position: relative;
    justify-content: space-around;
    gap: unset;
  }
}
